[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/bash-it"]
	path = bash/bash-it
	url = git://github.com/Bash-it/bash-it
[submodule "mintty/colors"]
	path = mintty/colors
	url = git://github.com/ticky/base16-mintty
[submodule "fish/oh-my-fish"]
	path = fish/oh-my-fish
	url = git://github.com/oh-my-fish/oh-my-fish
